{
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "src": "./src",
        "components": "./src/components",
        "config": "./src/config"
      }
    }]
  ]
}